$themeColor-Light: #f3e2c7;
$themeColor-Dark:#252525;
$theme-font: verdana, sans-serif;
$theme-supplementer: #f39c12;
$font-size-desktop-h5: 1.25em;
$font-size-mobile-h5: 0.8em;
$font-size-desktop-p: 1.1em;
$font-size-mobile-p: 0.7em;