@media(min-width: 576px) {
    .card-group>.card:first-child {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
        border-radius: .25rem;
    }
    .card-group>.card:last-child {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
}

.card-group {
    flex-direction:column;
}

#conversations {
    margin-left: 3em;
}